/* Styles */
/* Color Palette */
/*
primary-color: #eeeeee;       // Light Gray
secondary-color: #a040a0;     // Violet
text-primary-color: #333333;  // Black
text-secondary-color: #666666;// Dark Gray
 
*/

:root {
  --font-family_2: 'Roboto Flex', roboto-flex;
}

body {
  font-family: var(--font-family_2);
  margin: 0;
}

.header {
  background-color: #a040a0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header img {
  height: 40px;
  /* Adjust the logo height to fit within the 50px stripe with padding */
  padding: 5px;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.main-container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 50px);
}

.sidebar {
  width: 30%;
  padding: 20px;
  background-color: #f4f4f4;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.content {
  width: 70%;
  padding: 20px;
  overflow-y: auto;
}

.pokemon-list {
  list-style: none;
  padding: 0;
}

.pokemon-list li {
  cursor: pointer;
  padding: 5px 0;
}

.pokemon-list li:hover {
  text-decoration: underline;
}

.pokemon-details img {
  max-width: 100%;
}

.pokemon-details {
  display: none;
}


/* Styles for the search bar */
#searchBar {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Styles for the Pokemon button */
.pokemon-button {
  width: 100%;
  max-width: 200px;
  /* Limit the width of the button */
  box-sizing: border-box;
  background-color: #f8d030;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 16px;
  color: #383838;
}

.pokemon-button:hover {
  background-color: #a890f0;
}

/* Ensure list items take the full width and have no extra padding or margins */
ul#pokemonList {
  list-style-type: none;
  padding: 0;
}

ul#pokemonList li {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 5px;
}

/* Media query for tablets */
@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }

  .sidebar,
  .content {
    width: 100%;
    height: auto;
  }

  .pokemon-button {
    max-width: 100%;
    /* Adjust the max-width for smaller screens */
    max-width: calc(100% - 20px);
    /* Limit the button width to fit within the screen */
  }

}

/* Media query for small mobile screens */
@media (max-width: 480px) {
  .header {
    padding: 5px;
  }

  .header img {
    width: auto;
    height: 40px;
    /* Maintain the height adjustment */
    left: 5px;
  }

  .sidebar {
    padding: 10px;
  }

  .content {
    padding: 10px;
  }

  .search-bar {
    padding: 5px;
  }

  .pokemon-list li {
    padding: 3px 0;
  }

  .pokemon-button {
    font-size: 14px;
    /* Decrease font size for smaller screens */
    max-width: calc(100% - 20px);
    /* Limit the button width to fit within the screen */
  }

}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  overflow: auto;
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 400px;
  text-align: left;
  cursor: pointer;
}

.modal-close {
  float: right;
  appearance: none;
  /* Standard property */
  -webkit-appearance: none;
  /* Vendor-prefixed property */
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
  cursor: pointer;
}

.modal h1 {
  margin-top: 0;
}

.modal p {
  margin-bottom: 0;
}