/* Styles */
/* Color Palette */
/*
primary-color: #eeeeee;       // Light Gray
secondary-color: #a040a0;     // Violet
text-primary-color: #333333;  // Black
text-secondary-color: #666666;// Dark Gray
 
*/

:root {
  --font-family_2: 'Roboto Flex', roboto-flex;
}

body {
  font-family: var(--font-family_2);
  margin: 0;
}

.header {
  background-color: #a040a0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header img {
  height: 40px;
  /* Adjust the logo height to fit within the 50px stripe with padding */
  padding: 5px;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.main-container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 50px);
}

.sidebar {
  width: 30%;
  padding: 20px;
  background-color: #f4f4f4;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.content {
  width: 70%;
  padding: 20px;
  overflow-y: auto;
}

.pokemon-list {
  list-style: none;
  padding: 0;
}

.pokemon-list li {
  cursor: pointer;
  padding: 5px 0;
}

.pokemon-list li:hover {
  text-decoration: underline;
}

.pokemon-details img {
  max-width: 100%;
}

.pokemon-details {
  display: none;
}


/* Styles for the search bar */
#searchBar {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Styles for the Pokemon button */
.pokemon-button {
  width: 100%;
  box-sizing: border-box;
  background-color: #f8d030;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

.pokemon-button:hover {
  background-color: #e8c020;
}

/* Ensure list items take the full width and have no extra padding or margins */
ul#pokemonList {
  list-style-type: none;
  padding: 0;
}

ul#pokemonList li {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 5px;
}

/* Media query for tablets */
@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }

  .sidebar,
  .content {
    width: 100%;
    height: auto;
  }
}

/* Media query for small mobile screens */
@media (max-width: 480px) {
  .header {
    padding: 5px;
  }

  .header img {
    width: auto;
    height: 40px;
    /* Maintain the height adjustment */
    left: 5px;
  }

  .sidebar {
    padding: 10px;
  }

  .content {
    padding: 10px;
  }

  .search-bar {
    padding: 5px;
  }

  .pokemon-list li {
    padding: 3px 0;
  }
}